:root {
    --blue: #2196F3;
    --white: #FFFFFF;
    --black: #212121;
    --gray: #757575;
    --black-background: #2F303A;
    --gray-background: #F5F4FA;
    --gray-icon: #afb1b8;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--black);
}

.section {
    width: 1600px;
    margin: 0 auto;
    padding: 94px 0;
}

.container {
    width: 1200px;
    display: flex;
    margin: auto;
}

/* Header section style*/

.header.section {
    width: 1600px;
    padding: 0;
    border-bottom: 1px solid #ECECEC;
}

.header.container {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header__logo a,
.footer__logo a {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header__logo a {
    color: var(--black)
}

.header__logo span,
.footer__logo span {
    color: var(--blue)
}

.header__navigation ul {
    list-style: none;
    display: flex;
    width: 275px;
    justify-content: space-between;
}

.header__navigation a {
    color: var(--black);
    position: relative;
}

.header__info {
    display: flex;
    width: 333px;
    justify-content: space-between;
}

.header__navigation a,
.header__info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation a:hover,
.header__navigation a:focus {
    color: var(--blue);
}


.header__navigation a::after {
    content: "";
    height: 4px;
    width: 0%;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: var(--blue);
    transition-property: width;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation .active::after {
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: var(--blue);
   
}
.header__navigation a:hover::after,
.header__navigation a:focus::after,
.header__navigation a:active::after {
    width: 100%;
}


.header__info a {
    color: var(--gray);
}

.header__info_icon1 {
    width: 16px;
    height: 12px;
}

.header__info_icon2 {
    width: 10px;
    height: 16px;
}

.header__info__email a:hover,
.header__info__email a:focus {
    stroke: var(--blue);
    color: var(--blue);
}

.header__info__tel a:hover,
.header__info__tel a:focus {
    stroke: var(--blue);
    color: var(--blue);
}

/* Hero section style*/

.hero-section.section {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)),
        url("../images/Img_bg_1.jpg");
}

.hero-section.container {
    height: 600px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);

}

.hero-section__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
}

.hero-section__service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    padding: 10px 20px;
    border: 0px;
    border-radius: 4px;
}

.hero-section__service:hover,
.hero-section__service:focus {
    transform: scale(1.1);
}

/* WHAT WE DO section style*/

.we-do-section.section {
    background-color: var(--white);
}

.we-do-section__list.container {
    list-style: none;
    justify-content: space-between;
    width: 1170px;
    margin-bottom: 94px;

}

.we-do-section__benefits {
    width: 270px;
    height: 120px;
    background-color: var(--gray-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.we-do-section__icon {
    width: 70px;
    height: 70px;
    /* width: 270px;
    height: 120px;
    padding: 100px 25px; */
}

.we-do-section__list h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.we-do-section__list p {
    font-size: 14px;
    line-height: 1.7;
    color: var(--gray);
    letter-spacing: 0.03em;
}

.we-do-section__title {
    font-weight: 700;
    font-size: 36px;
    color: var(--black);
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.we-do-section_images>img,
.team-section__card>img,
.portofoliu__exemplu>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.we-do-section_images.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 294px;
    position: relative;
}

.imagine {
    position: absolute;
    top: 0;
    z-index: 1;
}

.we-do-section_images__bg-and-text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: #2F303ACC;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.one {
    left: 0;
}

.two {
    left: 400px;
}

.three {
    left: 800px;
}

/* OUR TEAM section style */

.team-section.section {
    background-color: var(--gray-background);
    height: 708px;
    text-align: center;
}

.team-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-section__cards.container {
    width: 1170px;
    justify-content: center;
    gap: 30px;
    margin: auto;
}

.team-section__card {
    width: 270px;
    height: 428px;
    background: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
        0px 2px 1px 0px #00000033,
        0px 1px 1px 0px #00000024,
        0px 1px 3px 0px #0000001F;

}

.team-section__card__nume {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-section__card__job {
    font-size: 16px;
    line-height: 1.2;
    color: var(--gray);

}

.team-section__card__social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 16px 32px 30px;

}

.team-section__card__social li {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: var(--white);
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_social {
    width: 20px;
    height: 20px;
    fill: var(--gray-icon)
}

.team-section__card__social li:hover,
.team-section__card__social li:focus {
    background-color: var(--blue);
}

.team-section__card__social li:hover .icon_social,
.team-section__card__social li:focus .icon_social {
    fill: var(--white);
}


/* OUR REGULAR CUSTOMERS Section Style */

.customer.section {
    /* height: 708px; */
    background-color: var(--white);
    text-align: center;
}

.customer__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.customer_sigle.container {
    width: 1170px;
}

.customer__sigle__list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.customer__sigla {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    padding: 16px 32px;
    margin-top: 60px;
    margin-bottom: 28px;
    border: 1px solid #AFB1B8;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer_icon {
    fill: var(--gray-icon);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__sigla:hover {
    border-color: var(--blue);
}

.customer__sigla:hover .customer_icon {
    fill: var(--blue);
}

/* Footer section style*/

.footer.section {
    padding: 0;
    background-color: var(--black-background);
    height: 251px;
}

.footer.container {
    height: 251px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.footer__logo {
    width: 140px;
    margin-top: 60px;
    margin-bottom: 28px;
}

.footer__logo a {
    color: var(--white);
}

.footer__address {
    width: 231px;
    height: 72px;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.75;
    font-style: normal;


}

.footer__address a {
    color: var(--gray);
    text-decoration: none;
    cursor: pointer;
}

.footer__social {
    margin-top: 75px;
    margin-left: 70px;
    margin-right: 93px;
    margin-bottom: 86px;
    display: flex;
    width: 206px;
    height: 80px;
    flex-direction: column;
}

.footer__social__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.footer__social__list li {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: var(--black-background);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_icon_social {
    width: 20px;
    height: 20px;
    fill: var(--white);
    stroke: white;
}


.footer__social p,
.footer_form p {
    font-size: 14px;
    font-weight: 700px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer__social__list li:hover,
.footer__social__list li:focus {
    background-color: var(--blue);
}
.footer_formular {
    width: 570px;
    height: 86px;
    margin-top: 72px;
    margin-bottom: 93px;
    display: flex;
    flex-direction: row;
}
.footer_form__label {
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap:12px;
}
.footer_email {
    width: 358px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
    /* margin-top: 20px; */
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--black-background);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer_btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white);
    text-align: center;
    border-radius: 4px 0px 0px 0px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.footer_btn svg {
    width: 24px;
    height: 24px;
    margin-left: 15px;
}


/* PORTOFOLIU style */

.portofoliu.section {
    background-color: var(--white);
    margin: auto;

}

.portofoliu__navigare__lista.container {
    width: 1170px;
    justify-content: center;
    gap: 8px;
    list-style: none;
    margin-bottom: 50px;

}

/* butoanele de navigare*/

.portofoliu__navigare button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background-color: var(--gray-background);
    cursor: pointer;
    padding: 6px 22px;
    border: 0px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portofoliu__navigare button:hover,
.portofoliu__navigare button:focus {
    background-color: var(--blue);
    color: var(--white);
    box-shadow:
        0px 2px 2px 0px #0000001F,
        0px 1px 2px 0px #00000014,
        0px 3px 1px 0px #0000001A;
}

/* exemple din portofoliu*/

.portofoliu__exemple.container {
    width: 1170px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: auto;
}

.portofoliu__exemplu__nume {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    text-align: left;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

}

.portofoliu__exemplu__img {
    position: relative;
    overflow: hidden;
}

.portofoliu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    opacity: 0.9;
    color: var(--white);
    transform: translateY(100%);
    transition-duration: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.portofoliu__exemplu:hover .portofoliu-overlay {
    transform: translateY(0%);
}

.portofoliu__exemplu__tip {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.9;
    color: var(--gray);
    letter-spacing: 0.03em;
    text-align: left;
    padding-left: 24px;
    padding-bottom: 20px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portofoliu__exemplu:hover,
.portofoliu__exemplu:focus {
    box-shadow:
        1px 4px 6px 0px #00000029,
        0px 4px 4px 0px #0000000F,
        0px 1px 1px 0px #0000001F;
}

/* Style pentru MODAL */

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

[data-modal] {
    background-color: #00000033;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

[data-modal-content] {
    width: 528px;
    height: 581px;
    border-radius: 4px 0px 0px 0px;
    opacity: 1;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    transition-property: transform;
    transition-duration: 2s;
    /* transition-timing-function: linear; */
}

.is-hidden [data-modal-content] {
    transform: translate(-50%, -50%) scale(0.8);
}

[data-modal-close] {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--white);
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
}

.buton-modal__X {
    width: 11px;
    height: 11px;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buton-modal__X:hover,
.buton-modal__X:focus {
    fill: var(--blue);
}

.modal-title {
font-size: 20px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: center;
}

.modal_form {
    padding-top: 12px ;
    display: flex;
    flex-direction: column;
    gap: 12px;


}
.modal_form__label {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: 0.01em;
    color: var(--gray);
    position: relative;

}
.modal_form__icon {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 12px;
    height: 12px;
}

.modal_form__input {
    outline: none;
    margin-top: 4px;
    border-radius: 4px;
    height: 40px;
    border: 1px solid #21212133;
    padding-left: 30px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form__comments {
    outline: none;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.12px;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    color: var(--gray) 50%;
    border: 1px solid #21212133;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.modal_form_checked {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    justify-content: center;
    gap: 10px;
}

.condition {
    color: var(--blue);
}

.modal_form__input:hover,
.modal_form__input:focus,
.modal_form__comments:hover,
.modal_form__comments:focus {
    border-color: var(--blue);
}
.modal_form__input:hover+.modal_form__icon,
.modal_form__input:focus+.modal_form__icon {
    fill: var(--blue)
}

.modal_form__input.checkbox {
    display: none;
}
.modal_check__label {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--black);
    border-radius: 2px;
}

.modal_form__input.checkbox:checked +.replace-checkbox {
    background-color: var(--blue);
    border-color: var(--blue);
} 
.modal_check__label svg {
    position: absolute;
    width: 16px;
    height: 15px;
    top: -1px;
    left:0px;
    display: none;
    fill: var(--white);
    
}

.modal_form__input.checkbox:checked + .modal_check__label svg {
    display: block;
}

.modal_form__btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    opacity: 0px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px 0px #00000026;
    color: var(--white);
    margin: auto;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
}

